* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: inter;
    font-display: swap;
}

@font-face {
    src: url(fonts/FugazOne-Regular.ttf);
    font-family: fugaz one;
    font-display: swap;
}

/* HEADER, NAVBAR, FOOTER ------------------------------------------------------------------------------------------------------------------------------------------ */

/* HEADER */
.overskrift {
    font-family: fugaz one;
}

.overskrift-link {
    text-decoration: none;
    color: #000000;
}

.container-header {
    position: relative;
}

.logo {
    width: 18%;
    height: auto;
}

.header-item1 {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);
}

.header-item2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px
}

.header-item3 {
    position: absolute;
    top: 60%;
    left: 95%;
    transform: translateX(-50%) translateY(-50%);
}

.shopping-button {
    border: none;
    cursor: pointer;
    color: #000000;
}

/* NAVIGATION BAR */

.nav {
    text-align: center;
    font-family: inter;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: inter;
}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: rgb(255, 255, 255);
    /* udfoldet farve */
    color: rgb(255, 255, 255);
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* dropdown baggrund */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

.dropdown-content a:hover {
    background-color: aliceblue;
    /* dropdown hover farve */
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 850px) {

    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        color: #000000;
        justify-content: left;
    }

    .topnav {
        display: block;
        background-color: aliceblue;
    }

    .container-header {
        background-color: rgb(255, 255, 255);
    }

    .active {
        background-color: aliceblue;
        /* udfoldet farve */
    }

    .topnav a:hover,
    .dropdown:hover .dropbtn {
        background-color: rgb(226, 241, 255);
    }

    .header-item1 {
        display: none;
    }

    .header-item2 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .header-item3 {
        top: 50%;
        left: 95%;
    }
}

@media screen and (max-width: 850px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 50px;
}

.footer__headline {
    font-weight: bold;
    font-family: fugaz one;
}

.footer__list {
    background-color: aliceblue;
    font-family: inter;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nyhedsbrev {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 12px 20px;
    border: none;
    font-family: inter;
    cursor: pointer;
}

.nyhedsbrev:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.footer-link {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer__headline {
        padding-top: 40px;
    }

}

/* FORSIDE ------------------------------------------------------------------------------------------------------------------------------------------ */

.forsidebillede {
    max-width: 100%;
    height: auto;
}

/*  KNAP  FORSIDE*/

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: fugaz one;
}

.container .btn:hover {
    background-color: aliceblue;
    color: #000000;
}

@media screen and (min-width: 600px) {
    .container .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #000000;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        text-align: center;
        font-family: fugaz one;
    }
}


/* GALLERI */
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 60px;
}

div.scroll-container img {
    padding: 25px;
}

.scroll-image {
    width: 120px;
    height: auto;
}

.undertitel {
    font-family: fugaz one;
    text-align: center;
    padding-top: 60px;
}

@media screen and (min-width: 600px) {
    .scroll-image {
        width: 200px;
    }

    div.scroll-container img {
        padding: 50px;
    }
}

@media screen and (min-width: 1000px) {
    div.scroll-container {
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        margin-bottom: 100px;
    }

    div.scroll-container img {
        padding: 80px;
    }

    .scroll-image {
        width: 300px;
        height: auto;
    }

    .undertitel {
        font-family: fugaz one;
        font-size: x-large;
        text-align: center;
        padding-top: 100px;
    }
}

/* NYESTE ØL ------------------------------------------------------------------------------------------------------------------------------------------ */

.undertitel-nyeste {
    font-family: fugaz one;
    text-align: center;
    padding: 30px;
    padding-top: 60px;
}

/*   NYESTE */
.grid-container-nyeste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.grid-item-nyeste {
    padding: 20px;
    text-align: center;
}

.gridimage-nyeste {
    width: 45%;
    height: auto;
}

.beer-title {
    font-family: inter;
    padding: 15px;
}

/*   FIND KOLLEKTIONERNE */
.grid-container-find {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.grid-item-find {
    padding: 30px;
    text-align: center;
}

.gridimage-find {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) {
    .undertitel-nyeste {
        font-family: fugaz one;
        font-size: x-large;
        text-align: center;
        padding: 30px;
        padding-top: 60px;
    }

    /*   NYESTE */
    .grid-container-nyeste {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }

    .grid-item-nyeste {
        padding: 20px;
        text-align: center;
    }

    .gridimage-nyeste {
        width: 35%;
        height: auto;
    }

    .beer-title {
        font-family: inter;
        font-size: large;
        padding: 15px;
    }

    /*   FIND KOLLEKTIONERNE */
    .grid-container-find {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .grid-item-find {
        padding: 30px;
        text-align: center;
    }

    .gridimage-find {
        width: 100%;
        height: auto;
    }
}

/* VORES UDVALG ------------------------------------------------------------------------------------------------------------------------------------------ */

.grid-container-udvalg {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-item-text {
    padding: 15%;
    text-align: center;
}

.udvalg-overskrift {
    font-family: fugaz one;
    text-align: center;
    padding: 20px;
}

.udvalg-beskrivelse {
    font-family: inter;
    text-align: left;
}

.gridimage-udvalg {
    width: 100%;
    height: auto;
}

.grid-item-udvalg1 {
    display: block;
}

.grid-item-udvalg2 {
    display: none;
}

@media screen and (min-width: 600px) {
    .grid-item-text {
        padding: 20%;
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media screen and (min-width: 1000px) {
    .grid-container-udvalg {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-item-text {
        padding: 25%;
        text-align: center;
        padding-left: 23%;
        padding-right: 23%;
    }

    .udvalg-overskrift {
        font-family: fugaz one;
        font-size: x-large;
        text-align: center;
        padding: 20px;
    }

    .udvalg-beskrivelse {
        font-family: inter;
        text-align: left;
    }

    .gridimage-udvalg {
        width: 100%;
        height: auto;
    }

    .grid-item-udvalg1 {
        display: none;
    }

    .grid-item-udvalg2 {
        display: block;
    }
}



/* VINTER 2023 ------------------------------------------------------------------------------------------------------------------------------------------ */

/* VENSTRE DÅSE */
.vinter-flex {
    display: flex;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.vinter-beskrivelse {
    font-family: inter;
    font-size: small;
    text-align: left;
    padding: 15px;
    padding-left: 3%;
    background-color: rgb(246, 246, 246);
    flex-grow: 2;
}

.can-vinter {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

/* HØJRE DÅSE */
.vinter-flex2 {
    display: flex;
    align-items: center;
}

.vinter-beskrivelse2 {
    font-family: inter;
    font-size: small;
    text-align: right;
    padding: 15px;
    padding-right: 3%;
    background-color: rgb(246, 246, 246);
    flex-grow: 2;
}

.can-vinter2 {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.mellemrum {
    margin-bottom: 100px;
}

.undertitel-vinter {
    font-family: fugaz one;
    font-size: x-large;
    text-align: center;
    padding: 30px;
    padding-top: 60px;
}

@media screen and (min-width: 650px) {
    .vinter-beskrivelse2 {
        padding: 15px;
        padding-left: 15%;
    }

    .vinter-beskrivelse {
        padding-right: 15%;
    }

    .can-vinter {
        width: 85px;
        margin-left: 50px;
    }

    .can-vinter2 {
        width: 85px;
        margin-right: 50px;
    }

    .vinter-flex {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 1000px) {
    .vinter-flex {
        display: flex;
        align-items: center;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .vinter-beskrivelse {
        font-family: inter;
        font-size: large;
        text-align: left;
        padding: 30px;
        padding-left: 50px;
        padding-right: 30%;
        background-color: rgb(246, 246, 246);
        flex-grow: 2;
    }

    .can-vinter {
        width: 100px;
        margin-left: 140px;
    }

    /* HØJRE DÅSE */
    .vinter-flex2 {
        display: flex;
        align-items: center;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .vinter-beskrivelse2 {
        font-family: inter;
        font-size: large;
        text-align: right;
        padding: 30px;
        padding-right: 50px;
        padding-left: 30%;
        background-color: rgb(246, 246, 246);
        flex-grow: 2;
    }

    .can-vinter2 {
        width: 100px;
        margin-right: 140px;
    }

    .mellemrum {
        margin-bottom: 100px;
    }

    .undertitel-vinter {
        font-family: fugaz one;
        font-size: x-large;
        text-align: center;
        padding: 30px;
        padding-top: 60px;
    }
}

/* HVORFOR ALKOHOLFRI? ------------------------------------------------------------------------------------------------------------------------------------------ */

.alkoholfri-overskrift {
    font-family: fugaz one;
    text-align: center;
    padding-top: 60px;
}

.alkoholfri-beskrivelse {
    font-family: inter;
    padding: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

.alkoholfri-billede {
    width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: small;
}

@media screen and (min-width: 700px) {
    .alkoholfri-beskrivelse {
        padding-left: 20%;
        padding-right: 20%;
    }

    p {
        font-size: medium;
    }
}

@media screen and (min-width: 1000px) {
    .alkoholfri-overskrift {
        font-family: fugaz one;
        text-align: center;
        padding-top: 50px;
    }

    .alkoholfri-beskrivelse {
        font-family: inter;
        padding: 50px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .alkoholfri-billede {
        width: 100%;
        height: auto;
    }

    p {
        font-size: medium;
    }
}

/* SHOPPING KURV ------------------------------------------------------------------------------------------------------------------------------------------ */

.kurv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 130px;
}

.baggrundsfarve-kurv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}

.tom-kurv {
    font-family: fugaz one;
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

.fyld-kurven {
    font-family: inter;
    text-align: center;
}

.kurv-knap {
    background-color: #000000;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: fugaz one;
}

@media screen and (min-width: 700px) {
    .tom-kurv {
        font-size: x-large;
    }
}


/* FEJLSIDE ------------------------------------------------------------------------------------------------------------------------------------------ */

.fejl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.baggrundsfarve-fejl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}

.hov-logo {
    height: 250px;
    width: auto;
}

.hov {
    font-family: fugaz one;
    padding-top: 30px;
}

@media screen and (min-width: 700px) {
    .hov {
        font-size: x-large;
    }
}